.App {
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 20px auto;
  max-width: 700px;
  padding: 25px 20px 15px;
}

.App-header {
  padding-bottom: 10px;
}

.Background {
  background-image: url("./mermaid2.jpeg");
  background-size: "cover";
  background-repeat: no-repeat;
  padding: 20px 30px;
}
