.Footer {
  padding: 10px;
  font-size: 14px;
  text-align: center;
}

.Footer-links {
  margin: 0 auto;
}

.Footer a {
  text-decoration: underline;
}

.Yan {
  color: #f65282;
}

.Git {
  color: blueviolet;
}

.Netli {
  color: #36b7be;
}
