.Weather .container {
  padding-bottom: 10px;
}

.Weather .search-input {
  background-color: #eaf7f6;
  border: none;
  font-size: 16px;
  border-radius: 7px;
  width: 95%;
  padding: 14px 24px;
}

.Search {
  padding-bottom: 20px;
}
.search-button {
  font-size: 16px;
  background-color: #36b7be;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 14px 24px;
  text-align: center;
}

.search-button:hover {
  background-color: #63d7de;
}

.Weather {
  justify-content: space-between;
  margin: 0 20px;
  padding: 30px 25px 15px;
  font-family: "Oxygen", sans-serif;
}

.CurrentInfo {
  justify-content: space-between;
  padding: 30px 15px 15px;
}

.Current-city {
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0;
}

.Current-details {
  color: rgba (39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Time {
  display: inline-flex;
}

.Current-details strong {
  color: #f65282;
}

.Temperature-container {
  display: flex;
  padding-left: 25px;
}

.Weather-app-icon {
  width: 120px;
  height: 120px;
  margin-top: -10px;
  margin-right: -5px;
}

.Current-temperature {
  font-size: 80px;
  margin-left: 10px;
  line-height: 88px;
  font-weight: bold;
}

.Temperature-unit {
  font-size: 28px;
  margin-top: 6px;
  display: block;
}
