.WeatherForecast-day {
  margin-bottom: 10px;
  opacity: 0.7;
  font-weight: 600;
}

.WeatherForecast-temps {
  margin-top: 3px;
  font-weight: 600;
}

.WeatherForecast-temp-min {
  opacity: 0.6;
  margin-left: 10px;
}
